@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
h1, h2{
    font-family: "Kalnia", serif;
    font-weight: 400;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 23px;
}
p, .link, .button, ol li, a{
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 15px;

}
.bold, span{
    font-weight: 500;
}
strong{
    font-weight: 600;
}
u{
    text-decoration: underline;
}

.flex-container{
    display: flex;
}
.centerd-flex{
    justify-content: center;
    align-items: center;
}
.column-flex{
    flex-direction: column;
}
.hero-section{
    min-height: 50vh;
    width: 100vw;
    height: max-content;
    padding: 100px 50px 50px 50px;
}
.section-title{
    min-width:120px;
    height:max-content;
    padding-right: 10px;

}
section{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}
.blog-container{
    border-left:solid 1px;
    gap: 50px;
    padding-left: 40px;
}
.card-container{
    height: max-content;

}
.blog-card{
    position: relative;
    height: max-content;

}
.blog-title{
    position: relative;
    margin-bottom: 5px;
}
.blog-date{
    position: relative;
    margin-bottom: 30px;
}
.blog-author{
position: relative;
margin-bottom: 5px;
}
.blog-summary{
    position: relative;
    margin-bottom:20px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
}
.article-card{
    border-bottom: solid 1px;
    position: relative;
    width: 100%;

    height: max-content;
}
nav{
    position: absolute;
    padding-left:100px;
    padding-top: 50px;
    z-index: 10;
    width:100%;
    height: max-content;
}
footer{
    padding: 50px;
    gap: 20px;
    color: gray;
}
.socials{
    font-size: 20px;
    gap: 10px;
}
.article-img{
    width: 100%;
    background-color: rgb(202, 202, 202);
    aspect-ratio: 2/1;
    position: relative;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.article-link{
    margin-bottom: 30px;
}
.big{
    font-size: 30px;
}
.blog-image img{
    width: 100%;
    height: auto;
}
.flex-gap30{
    gap: 30px;
}
.link, a{
    border-bottom: solid 1px transparent;
    width: max-content;
    font-weight: 400;
}
.link:hover, a:hover
{
    border-bottom: solid 1px;
}
.back-btn i{
    font-size: 20px;
    color: rgb(112, 112, 112);
}
.back-btn:hover{
    border:none;
}
.back-btn:hover i{
    border: none;
    color: black;
}
.button{
    background-color: white;
    padding: 10px;
    border: solid 1px ;
    width: max-content;
}
.button:hover{
background-color: black;
color:white;
}
.container{
    justify-content: start;
    max-width: 1500px;
 
    width: 100%;
}
.admin-container{
    padding: 20px;
    display: flex;
    min-height: 100vh;
    height: max-content;

}
.side-bar{
    gap: 10px;
    height: max-content;
    width: 300px;
}

.button-1{
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;

}
.button-1:hover{
    color: red;
}
.hidden-input{
    display: none;
}
.sidebar-footer{
    flex-grow: 2;
    justify-content: end;
}
input[type="text"], .side-bar textarea, input[type="password"]{
    outline: none;
    resize: none;
    border:solid 1px black;
    font-size: 15px;
    padding: 5px;
}
.side-bar textarea{
    height: 100px;
}
.admin-button{
    width: 100%;
}
.side-bar input[type="file"]{
    display: none;
}
.sidebar-image{
    width: 100%;
    aspect-ratio: 2/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.editor-homebtn{
    width: fit-content;
}
.text-editor{
    background-color: white;
    border: solid 1px black;
    z-index: 3;
    position: relative;
    width: 100%;
}
.editor-section{
    background-color: white;
    color: #000;
    width: 100%;
    min-height: 90vh;
    max-height: 90vh;
    z-index: 3;
    overflow-y:scroll ;
    font-size: 20px;
    position: relative;
}
.ql-toolbar, .ql-container{
    border: none !important;

}
.ql-editing{
    left: clamp(0px, 0px, 100px) !important;
}
.ql-action:hover{
    border: none;
    color: black;
}
.overlay{
    position:  fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}
.message-box{
    background-color: white;
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    gap:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
}
.message-box button{
    background-color: white;
    border:none; 
    font-size: 14px;    
}
.message-box button:hover{
    color:red;
}
.warning{
    color: red;
    font-size: 10px;
}
.checkbox{
    border: solid 1px;
    width: 20px;
    height: 20px;
}


@media only screen and (max-width:1000px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
    .section-title{
        margin-bottom: 30px;
    }
}
@media only screen and (max-width:750px) {
    .container{
        flex-direction: column;
    }
    nav, section{
        padding-left: 30px;
        padding-right: 30px;
    }
    .hero-section{
        min-height: 20vh;
    }
}
@media only screen and (max-width:650px) {
    p, .link, .button, ol li{
        font-size: 14px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 20px;
    }
}