<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block header%}{% endblock %}
    <title>Blog</title>
</head>
<body>
    {% block body %}
    {% endblock %}

    <footer class="flex-container centerd-flex column-flex">
        <p>Created by Mevinu Vihansith</p>
        <div class="flex-container socials">
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/044a9fd88a.js" crossorigin="anonymous"></script>
</body>
</html>